
:root {
  --bg-main01: #0DF205;
  --bg-main02: #0D0D0D;
  --bg-main03: #034001;
  --bg-main04: #592E08;
  --bg-main05: #F2F2F2;
  --bg-hover:#14e018;
  --bg-secondary: #47594C;
  --blk-color: #000000;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #region GENERAL STYLES */
.w100 {
  width: 100%;
}

.icon {
  width: 3rem;
  height: 3rem;
}

.d-none {
  display: none;
}
/* #endregion GENERAL STYLES */

/* #region HEADER STYLES */
header {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 10% auto 10%;
  grid-column-gap: 1rem;
  place-items: center  ;
  padding: 2rem;
}

header figure .header-logo {
  height: 100%;
}
/* #endregion HEADER STYLES */

/* #region MAIN STYLES */
main {
  background: var(--bg-main02);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: rem;
  padding: 5%;
}

main figure .flyer {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0px 2px 17px -1px var(--bg-main01);
}

main .links-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0 0 2rem 2rem;
}

main .links-container .more-info-btn {
  width: 70%;
  padding: 0.5rem 1rem;
  background-color: var(--bg-main01);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: var(--blk-color);
}

main .links-container .more-info-btn:hover {
  background-color: var(--bg-hover);
  cursor: pointer;
}

.more-info-btn-img {
  width: 2rem;
  margin-right: 1rem;
}

.more-info-btn-text {
  font-size: large;
  font-weight: 600;
  text-align: center;
}

.links-container a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--bg-main05);
  font-weight: bold;
  margin: 1rem 0;
}

.links-container a figure{
  margin-left: 1rem;
}
/* #endregion MAIN STYLES */

/* #region MORE INFO STYLES */
.more-info-container {
  padding: 3rem 5rem 5rem;
  background-color: var(--bg-main02);
  position: relative;
}

.more-info-close-btn-img {
  width: 2rem;
  position: absolute;
  right: 5.5rem;
  top: 3.5rem;
  background-color: var(--bg-main01);
  border-radius: 50%;
}

.more-info-text {
  background-color: var(--bg-main05);
  padding: 2rem;
  border-radius: 0.5rem;
}

.more-info-text ul li {
  list-style-position: outside;
}

.last-line {
  font-size: large;
  font-weight: 600;
  text-align: center;
}
/* #endregion MORE INFO STYLES */

/* #region FOOTER STYLES */
footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  padding: 2rem;
  background-color: var(--bg-main05);
  text-align: center;
  line-height: 1.5rem;
  color: black;
  bottom: 0;
}

footer * {
  /* margin: 1rem 0 0 0; */
  color: black;
}

.footer-phone {
  text-decoration: none;
}
/* #endregion FOOTER STYLES */

/* #region MEDIA QUERIES STYLES */
@media (max-width: 767px) {
  header {
    grid-template-columns: 10% 10% auto 15%;
    grid-column-gap: 0.5rem;
    padding: 1rem;
  }
  

  main {
    grid-template-columns: auto;
    padding: 2rem 3rem 0;
  }

  main .links-container {
    margin-top: 1rem;
    padding:0;
    /* flex-direction: column-reverse; */
  }

  main .links-container a:nth-child(1)  {
    order: 2;
  }
  main .links-container a:nth-child(2)  {
    order: 3;
    padding: 0 2rem;
  }
  main .links-container a:nth-child(3)  {
    order: 1;
  }

  .links-container a span {
    text-align: center;
  }

  .more-info-container {
    padding: 1rem;
  }

  .more-info-close-btn-img {
    width: 2rem;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    background-color: var(--bg-main01);
    border-radius: 50%;
  }
  /* .links-container */
}
/* #endregion MEDIA QUERIES STYLES */